@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');

/*  ----------All pages----------- */

* {box-sizing: border-box;}
:root {
    --name: value;
}
body, button {
    font-family: 'Lato', Arial, sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: relative;
    background: #ffffff;
}
.sectionTitle {
    /* border: thin solid blue; */
    font-size: 45px;
    font-weight: 700;
}
.whiteText{
    color: #ffffff;
}
.buttonBlack, .buttonWhite {
    height: 50px;
    width: 180px;
    text-align: center;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 3px;
}
.buttonBlack {
    background-color: #141414;
    color: white;
}
.buttonBlack:hover {
    background-color: #3b3b3b;
}
.buttonWhite {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

/* Utilty classes */

.flex {
    display: flex;
}
.column {
    flex-direction: column;
}

/* Navigation Bar */

.primary-header {
    height: 79px;
    background-color: #ffffff;
    z-index: 999;
    width: 100%;
    position: fixed;
    top: 0;
    overflow: hidden;
    padding: 5px 3% 0px 5px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.20);
}
.primary-nav {
    list-style: none;
    padding: 0%;
    margin-bottom: 23px;
}
.primary-nav li {
    padding: 0 40px
}
.primary-nav a {
    color: black;
    font-weight: 700;
    font-size: 22px;
    text-decoration: none;
}
.primary-nav a:hover {
    color: rgb(158, 158, 158);
}
.logo {
    width: 110px;
}

/* Page Titles and Breadcrumb Nav*/

.pageTitleAndNav {
    margin-top: 80px;
    padding: 35px;
    padding-top: 3px;
    padding-bottom: 0;
}
.pageTitle {
    margin-top: 18px;
    margin-bottom: 0px;
}
.breadcrumbNav {
    /* border: thin solid green; */
    margin-top: 30px;
}
.breadcrumbNav > label {
    margin-left: 10px;
    margin-right: 10px;
}

/* Footer */

footer {
    background-color: #EEEEEE;
    height: 170px;
    padding: 50px;
    padding-top: 30px;
}

footer > div {
    flex-direction: column;
    margin-right: 90px;
}
footer > div > label {
    font-weight: 700;

}
footer > div > a {
    font-style: italic;
    margin-top: 8px;
}
footer > div > p {
    margin-top: 10px;
    margin-bottom: 5px;
}


/*  ----------Home page----------- */

/* Hero Section */

.hero {
    height: 700px;
    width: 100%;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.heroText {
    flex: 1;
    margin-left: 3%;
}
.heroText > h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 900;
    margin-top: 70px;
    min-width: 440px;
}
.callToAction {
    margin-top: 200px;
    font-family: Arial;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.40);
}
.heroImages {
    flex: 2;
    justify-content: right;
}
.heroImages > img {
    padding: 50px;
    width: 900px;
    height: 624px;
    border-radius: 100px;
}

/* Services */

.servicesHome {
    background-color: #000000;
    height: auto;
    padding: 50px;
    padding-top: 30px;
    padding-bottom: 80px;
}
.servicesHome > a {
    flex: 1.8;
    margin-top: 120px;
}
.vehicleWrapCard, .commercialGaphicsCard {
    height: 509px;
    flex-direction: column;
    align-items: center;
}
.infoPanel{
    position: absolute;
    background: linear-gradient(0deg, rgba(0,0,0,1) 45%, rgba(0,0,0,0) 65%);
    width: 500px;
    height: 500px;
    border-radius: 100px 100px 100px 100px;
    justify-content: center;
    box-shadow: 0px 5px 5px rgba(255, 255, 255, 0.2);
}
.infoPanelText {
    color: white;
    position: absolute;
    height: 200px;
    bottom: 30px;
    flex-direction: column;
    align-items: center;   
}
.infoPanelText > hr {
    width: 250px
}
.subcategoriesText {
    flex-direction: row;
    font-size: 17px;
}
.columnOne > :first-child, .columnTwo > :first-child {
    margin-bottom: 30px;
}
.columnOne {
    margin: 20px;
}
.columnTwo {
    margin: 20px;
    margin-left: 30px;
}
.vehicleWrapCard > img, .commercialGaphicsCard > img{
    width: 500px;
    height: 300px;
    border-radius: 100px 100px 0px 0px;
}

.commercialGaphicsCard {
    flex: 1.7;
}

/* About */

.aboutHome {
    height: auto;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 110px;
}
#aboutPictureHomeContainer {
    /* border: thin solid red; */
    flex: 1;
    align-items: center;
}
#aboutPictureHomeContainer > img {
    flex: 1;
    width: 500px;
    max-width: 700px;
    height: auto;
    float: right;
}
.aboutHomeText {
    /* border: thin solid blue; */
    flex: 1.5;
    padding: 15px;
    padding-left: 30px;
    margin-right: 2%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 19px;
    font-weight: 500;
    white-space: nowrap;
}
.aboutHomeText, #aboutPictureHomeContainer > img {
    margin-top: 40px;
}
.aboutHomeText > p:first-child {
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    margin-bottom: 60px;
}
/* Contact Footer */

.contactFooter {
    background-color: #212121;
    height: 110px;
    padding: 1%;
    justify-content: center;
    align-items: center;
}
.contactFooter > h1 {
    color: white;
    margin-right: 7%;
    font-size: 29px;
}
.contactUSButton {
    font-weight: 700;
}


/*  ----------Services page----------- */

.servicesSection {
    height: auto;
    padding: 60px;
    padding-top: 50px;
    padding-bottom: 70px;
    flex-direction: column;
}
.servicesSection > h1 {
    margin-top: 0px;
}
.servicesCardGroup {
    flex-direction: row;
}


/*  ----------Contact page----------- */

.infoSection {
    height: auto;
    padding: 50px;
    margin-top: 10px;
    padding-top: 0px;
    padding-bottom: 50px;
    flex-direction: column;
}
#infoSectionBackground {
    align-content: space-between
}
#phone {
    width: 20%;
    min-width: 130px;
    max-width: 200px;
}
#location {
    width: 30%;
    min-width: 190px;
}
.formSection {
    height: auto;
    padding: 50px;
    margin-top: 0;
    padding-top: 0px;
    padding-bottom: 0;
    flex-direction: column;
}
.formBackground {
    background-color: #000000;
    height: 600px;
    width: 100%;
    margin-top: 30px;
    padding: 50px;
    padding-top: 30px;
    padding-bottom: 0;
    border-radius: 50px 50px 0px 0px;
}
#formPageTitle {
    margin-top: 7;
    margin-bottom: 28px;
}
#formPageTitle > h1 {
    margin-bottom: 7px;
}
#formPageTitle > h5 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #67bbff;
}
.formBlue {
    color: #67bbff;
}
#formInfoPage > h3 {
    margin-top: 10;
    margin-bottom: 15px;
}
#formInfoPage label {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
}
.columnOneOptions {
    flex-direction: column;
    flex: 1;
    margin-right: 2%;
}
.columnTwoOptions {
    flex-direction: column;
    flex: 1.1;
}
.textField {
    height: 30px;
    margin-bottom: 20px;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    color:white
}
.textField:hover {
    border-color: rgb(66, 66, 66);
}
.textField:focus, textarea:focus {
    border-color: #67bbff;
    outline: none;
}
textarea {
    height: 100px;
    resize: none;
}
.formButton {
    cursor: pointer;
    background-color: #67bbff;
    height: 40px;
    width: 90px;
    text-align: center;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    border-radius: 2px;
    margin-top: 50px;
    margin-right: 10px;
    float: right;
}
.formButton:hover {
    background-color: #3c729e;
    color: white;
}
#submitButton {
    margin-top: 70px;
    margin-right: 10px;
    float: right;
}


#formInfoTable {
    background-color: transparent;
    max-width: 30%;
}
#formInfoTable th, td {
    color: white;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}



.container {
    display: block;
    position: relative;
    padding-left: 35px;
    padding-right: 30px;
    margin-top: 3px;
    margin-bottom: 17px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    margin-top: 0px;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #000000;
    border-radius: 6px;
    border: 2px solid #ccccccab;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #423b3b;
    border-color: #67bbff;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #67bbff;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


/* ----------------- ABOUT ----------------------- */

#videoSection {
    width: 100%;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #000000;
}

#embeddedVideo {
    margin: 0 auto;
}




  
@media only screen and (max-width: 900px) {
    header > img {
        width: 25%;
        height: auto;
        float: right;
    }
    nav {
        flex-direction: column;
    }   
}

@media only screen and (max-width: 510px) {
    .primary-nav {
        flex-direction: column;
        margin-bottom: 0px;
    }
    .primary-header {
        height: auto;
        position: relative
    }
    .primary-nav li {
        margin-bottom: 20px;
    }
    footer {
        padding: 30px;
        padding-top: 20px;
    }
    footer > div {
        margin-right: 30px;
    }
    .hero {
        height: 260px;
        margin-top: 0px;
        padding: 0px;
        flex-direction: column;
    }
    .heroText {
        margin-left: 15px;
        position: absolute;
        z-index: 100;
    }
    .heroText > h1 {
        margin-top: 20px;
        font-size: 30px;
        color: white;
    }
    .callToAction {
        margin-top: 60px;
        font-family: Arial;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.40);
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        font-size: medium;
        height: 40px;
        width: 150px;
    }
    .heroImages {
        justify-content: right;
        background-color: #000000;
    }
    .heroImages > img {
        padding: 0px;
        width: 100%;
        height: 300px;
        border-radius: 0px;
        opacity: .5;
    }

    .servicesHome {
        flex-direction: column;
        padding: 20px;
        padding-top: 40px;
        padding-bottom: 50px;
    }
    .sectionTitle {
        font-size: 30px;
    }
    .servicesHome > a {
        margin-top: 10px;
    }
    .vehicleWrapCard, .commercialGaphicsCard {
        margin-bottom: 20px;
    }
    .infoPanel{
        width: 400px;
        height: 500px;
        border-radius: 50px 50px 50px 50px;
    }
    .infoPanelText {
        margin-bottom: 20px; 
    }
    .vehicleWrapCard > img, .commercialGaphicsCard > img{
        width: 400px;
        height: 250px;
        border-radius: 50px 50px 0px 0px;
    }


    .aboutHome {
        padding: 30px;
        padding-top: 6px;
    }
    #aboutPictureHomeContainer {
        flex: 0.5;
        align-items: center;
    }
    #about_content {
        flex-direction: column;
    }
    #aboutPictureHomeContainer > img {
        width: 350px;
        float: none;
        margin-left: 20px;
    }
    .aboutHomeText {
        font-size: 14px;
    }
    .aboutHomeText > p:first-child {
        font-size: 17px;
        margin-bottom: 30px;
    }

    .contactFooter > h1 {
        margin-right: 10%;
        font-size: 20px;
    
    }
    .contactUSButton {
        font-size: 18px;
        height: 40px;
    }

    /* ------- Services -------- */
    

    /* ------- Contact -------- */


    /* ------- About -------- */





}
